font-numeric()
	font-family var(--tq-font-numeric)
	font-variant-numeric tabular-nums

pane-style()
	border 1px solid var(--tq-color-border)
	background var(--tq-color-surface)
	backdrop-filter blur(6px)

tooltip-style()
	padding 4px 11px
	border-radius 9999px
	background var(--tq-color-surface)
	color var(--tq-color-on-surface)
	backdrop-filter blur(6px)	

popup-style()
	pane-style()
	padding var(--tq-popup-padding)
	border-radius var(--tq-popup-border-radius)
	box-shadow 0 0 20px 0px var(--tq-color-shadow)
	color var(--tq-color-text)

button-focus-style()
	position relative

	&:focus-visible, &:has(input:focus-visible)
		&:before
			content ''
			position absolute
			inset -3px
			border 1px solid var(--tq-color-accent)
			border-radius calc(var(--tq-input-border-radius) + 2px)

hover-transition(prop = all)
	values = ()

	for p in arguments
		push(
			values,
			p + ' var(--tq-hover-transition-duration) cubic-bezier(0.4, 0, 0.2, 1)'
		)

	transition unquote(join(',', values))

active-transition(prop = all)
	values = ()

	for p in arguments
		push(
			values,
			p + ' var(--tq-active-transition-duration) cubic-bezier(0.4, 0, 0.2, 1)'
		)

	transition unquote(join(',', values))

use-input-font()
	&[font=numeric]
		font-numeric()

	&[font=monospace]
		font-family var(--tq-font-code)

use-input-align()
	&[align=left]
		text-align left

	&[align=center]
		text-align center

	&[align=right]
		text-align right

use-input-position()
	&[horizontal-position=middle], &[vertical-position=middle]
		border-radius 0

	&[horizontal-position=left]
		border-top-right-radius 0
		border-bottom-right-radius 0

	&[horizontal-position=right]
		border-top-left-radius 0
		border-bottom-left-radius 0

	&[vertical-position=top]
		border-bottom-right-radius 0
		border-bottom-left-radius 0

	&[vertical-position=bottom]
		border-top-left-radius 0
		border-top-right-radius 0

use-input-theme()
	&[theme=minimal]
		background transparent

		&:hover
			box-shadow 0 0 0 1px var(--tq-color-border)

		&:focus-within
			box-shadow 0 0 0 1px var(--tq-color-accent)

input-box-style()
	position relative
	width 100%
	height var(--tq-input-height)
	border-radius var(--tq-input-border-radius)
	background var(--tq-color-input)
	color var(--tq-color-text)
	hover-transition(background, box-shadow)
	overflow hidden

	&:hover
		background var(--tq-color-input-hover)

	use-input-font()
	use-input-align()
	use-input-position()
	use-input-theme()

input-element-style()
	position relative
	width 100%
	height var(--tq-input-height)
	padding-inline .5em

input-box-focus()
	z-index 1
	box-shadow 0 0 0 1px var(--tq-color-accent)

input-box-invalid()
	--tq-color-text var(--tq-color-error)

input-box-disabled()
	background transparent
	--tq-color-accent var(--tq-color-text-border)
	--tq-color-accent-soft var(--tq-color-border-subtle)
	--tq-color-text var(--tq-color-text-mute)
	box-shadow inset 0 0 0 1px var(--tq-color-border)

input-overlay()
	position fixed
	inset 0
	z-index 1000
	pointer-events none

	svg
		position absolute
		inset 0
		width 100vw
		height 100vh
		stroke-linecap round
		stroke-linejoin round

	.thin, .bold, .extra-bold
		fill none
		stroke var(--tq-color-accent)

	.gray
		stroke var(--tq-color-border)

	.thin
		stroke-width 1

	.bold
		stroke-width 2

	.extra-bold
		stroke-width 4

	.label
		font-size 1em
		font-numeric()
		fill var(--tq-color-accent)

set-alpha(name, opacity)
	'color-mix(in srgb, var(%s) %d%, transparent)' % (name opacity * 100)