font-monospace()
	font-family 'Fira Code', monospace
	font-variant-ligatures contextual

font-heading()
	font-family monotype-grotesque, sans-serif

font-ui()
	font-family -apple-system, system-ui, 'system-ui', Helvetica, Arial, sans-serif, 'Apple Color Emoji'

font-numeric()
	font-ui()
	font-variant-numeric tabular-nums

input-transition($prop = all)
	transition $prop 0.1s ease