@import './reset.styl'
@import './setup.styl'
@import './common.styl'

// Tweeq-specific styles
:root
	font-size 12px
	font-family 'Inter'
	font-synthesis none
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-text-size-adjust 100%
	--titlebar-area-height env(titlebar-area-height, 38px)
	--app-margin-top calc(env(titlebar-area-y, 0px) + var(--titlebar-area-height))

a:link, &:visited
	color var(--tq-color-accent)
	cursor pointer

body
	reset()
	setup()
	overflow hidden
	margin 0
	height 100vh

em
	font-weight bold

hr
	margin 0.5em 0
	border 0
	border-top 1px solid currentColor
	opacity 0.2

	& + br
		display none

.tq-font-numeric
	font-numeric()

.iconify
	display inline
	width 24px
	height 24px

.transition
	hover-transition(all)

	&:before, &:after
		hover-transition(all)

.iconify
	width calc(var(--tq-input-height) - 4px)
	height calc(var(--tq-input-height) - 4px)

// Overrides Floating-Vue themes

// Tooltip
.v-popper--theme-tooltip
	.v-popper__inner
		background var(--tq-color-surface) !important
		color var(--tq-color-on-surface) !important
		line-height 1.4
		backdrop-filter blur(12px)
		border 1px solid var(--tq-color-border)
		margin -1px

	.v-popper__arrow-outer
		border-color var(--tq-color-surface) !important
		filter drop-shadow(var(--tq-color-border) 0 -1px 0)

.v-popper__popper[data-popper-placement=top] .v-popper__arrow-outer
	filter drop-shadow(var(--tq-color-border) 0 1px 0)

// Menu
.v-popper--theme-menu
	.v-popper__arrow-container
		display none

	.v-popper__inner
		border-radius 12px !important
		border 1px solid var(--tq-color-border) !important
		background set-alpha(--tq-color-surface, 0.9) !important
		overflow hidden
		color var(--tq-color-input-on) !important
		backdrop-filter blur(5px)

	&.v-popper__popper--hidden
		transition-duration 0.15s

	&.v-popper__popper--shown
		transition-duration 0.15s