// Based on [Eric Meyer's reset](http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/)
input-reset()
	input
		margin 0
		padding 0
		width 100%
		outline none
		border 0
		background transparent
		color inherit
		text-align right
		font inherit

	// Chrome, Safari, Edge, Opera
	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button
		margin 0
		-webkit-appearance none

	// Firefox
	&[type=number]
		-moz-appearance textfield

nested-reset()
	:where(div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr)
		reset-box-model()
		reset-font()

	:where(table)
		reset-table()

	:where(caption, th, td)
		reset-table-cell()

	:where(a img)
		border none

	input-reset()

reset-box-model()
	margin 0
	padding 0
	outline 0
	border 0

reset-font()
	vertical-align baseline
	font-weight inherit
	font-style inherit
	font-size 100%
	font-family inherit

reset-body()
	background white
	color black
	line-height 1

reset-table()
	border-spacing 0
	border-collapse separate
	vertical-align middle

reset-table-cell()
	vertical-align middle
	text-align left
	font-weight normal

reset-html5()
	:where(article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main)
		reset-box-model()
		display block

	:where(audio, canvas, video)
		display inline-block
		*display inline
		*zoom 1

	:where(audio:not([controls]), [hidden])
		display none